
.vs/BackLaser/v16/Server/sqlite3/db.lock
.vs/BackLaser/v15/Server/sqlite3/storage.ide-shm
.vs/BackLaser/v15/Server/sqlite3/storage.ide-wal
Laser/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Laser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Laser/obj/Debug/Laser.csproj.CoreCompileInputs.cache
