<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Laser.Properties.Settings>
            <setting name="MinV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxV" serializeAs="String">
                <value>80000</value>
            </setting>
            <setting name="MinT" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MaxT" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ActV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActT" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="StepV" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StepT" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TStepT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TStepV" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Dioda1MinV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda1MaxV" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Dioda1MinT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Dioda1MaxT" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ChecklistDiode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Dioda2MinV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2MaxV" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Dioda2MinT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Dioda2MaxT" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Dioda3MinV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3MaxV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3MinT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3MaxT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EStepT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EStepV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinQ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxQ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepQ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QStepT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QStepV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KStepT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KStepV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WStepT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WStepV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScalingParameter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TriggerParameter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Graphsettingoption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Graphsettingtype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dioda1A1LOWcm" serializeAs="String">
                <value>-0.000171972</value>
            </setting>
            <setting name="Dioda1B1LOWcm" serializeAs="String">
                <value>0.00922</value>
            </setting>
            <setting name="Dioda1C1LOWcm" serializeAs="String">
                <value>-1.0296</value>
            </setting>
            <setting name="Dioda1D1LOWcm" serializeAs="String">
                <value>12851.27013</value>
            </setting>
            <setting name="Dioda1A1LOWnm" serializeAs="String">
                <value>1.04084E-05</value>
            </setting>
            <setting name="Dioda1B1LOWnm" serializeAs="String">
                <value>-0.000554599</value>
            </setting>
            <setting name="Dioda1C1LOWnm" serializeAs="String">
                <value>0.06237</value>
            </setting>
            <setting name="Dioda1D1LOWnm" serializeAs="String">
                <value>778.13318</value>
            </setting>
            <setting name="Dioda1A1LOWTHz" serializeAs="String">
                <value>-5.1556E-06</value>
            </setting>
            <setting name="Dioda1B1LOWTHz" serializeAs="String">
                <value>0.000276371</value>
            </setting>
            <setting name="Dioda1C1LOWTHz" serializeAs="String">
                <value>-0.03087</value>
            </setting>
            <setting name="Dioda1D1LOWTHz" serializeAs="String">
                <value>385.27139</value>
            </setting>
            <setting name="Dioda1A1MIDcm" serializeAs="String">
                <value>-0.000135127</value>
            </setting>
            <setting name="Dioda1B1MIDcm" serializeAs="String">
                <value>0.007</value>
            </setting>
            <setting name="Dioda1C1MIDcm" serializeAs="String">
                <value>-0.98234</value>
            </setting>
            <setting name="Dioda1D1MIDcm" serializeAs="String">
                <value>12850.79027</value>
            </setting>
            <setting name="Dioda1A1MIDnm" serializeAs="String">
                <value>8.24117E-06</value>
            </setting>
            <setting name="Dioda1B1MIDnm" serializeAs="String">
                <value>-0.000423721</value>
            </setting>
            <setting name="Dioda1C1MIDnm" serializeAs="String">
                <value>0.5956</value>
            </setting>
            <setting name="Dioda1D1MIDnm" serializeAs="String">
                <value>778.16178</value>
            </setting>
            <setting name="Dioda1A1MIDTHz" serializeAs="String">
                <value>-4.05101E-06</value>
            </setting>
            <setting name="Dioda1B1MIDTHz" serializeAs="String">
                <value>0.000209782</value>
            </setting>
            <setting name="Dioda1C1MIDTHz" serializeAs="String">
                <value>-0.02945</value>
            </setting>
            <setting name="Dioda1D1MIDTHz" serializeAs="String">
                <value>385.257</value>
            </setting>
            <setting name="Dioda1A1HIGHcm" serializeAs="String">
                <value>-4.41143E-05</value>
            </setting>
            <setting name="Dioda1B1HIGHcm" serializeAs="String">
                <value>-0.00441</value>
            </setting>
            <setting name="Dioda1C1HIGHcm" serializeAs="String">
                <value>-0.53475</value>
            </setting>
            <setting name="Dioda1D1HIGHcm" serializeAs="String">
                <value>12844.97813</value>
            </setting>
            <setting name="Dioda1A1HIGHnm" serializeAs="String">
                <value>2.7706E-06</value>
            </setting>
            <setting name="Dioda1B1HIGHnm" serializeAs="String">
                <value>0.000264008</value>
            </setting>
            <setting name="Dioda1C1HIGHnm" serializeAs="String">
                <value>0.03252</value>
            </setting>
            <setting name="Dioda1D1HIGHnm" serializeAs="String">
                <value>778.51336</value>
            </setting>
            <setting name="Dioda1A1HIGHTHz" serializeAs="String">
                <value>-1.32251E-06</value>
            </setting>
            <setting name="Dioda1B1HIGHTHz" serializeAs="String">
                <value>-0.000132141</value>
            </setting>
            <setting name="Dioda1C1HIGHTHz" serializeAs="String">
                <value>-0.01603</value>
            </setting>
            <setting name="Dioda1D1HIGHTHz" serializeAs="String">
                <value>385.08276</value>
            </setting>
            <setting name="Dioda1A1HIGHHcm" serializeAs="String">
                <value>-0.000172815</value>
            </setting>
            <setting name="Dioda1B1HIGHHcm" serializeAs="String">
                <value>0.00953</value>
            </setting>
            <setting name="Dioda1C1HIGHHcm" serializeAs="String">
                <value>-1.04788</value>
            </setting>
            <setting name="Dioda1D1HIGHHcm" serializeAs="String">
                <value>12850.21943</value>
            </setting>
            <setting name="Dioda1A1HIGHHnm" serializeAs="String">
                <value>1.05122E-05</value>
            </setting>
            <setting name="Dioda1B1HIGHHnm" serializeAs="String">
                <value>-0.000575543</value>
            </setting>
            <setting name="Dioda1C1HIGHHnm" serializeAs="String">
                <value>0.0635</value>
            </setting>
            <setting name="Dioda1D1HIGHHnm" serializeAs="String">
                <value>778.19669</value>
            </setting>
            <setting name="Dioda1A1HIGHHTHz" serializeAs="String">
                <value>-5.18085E-06</value>
            </setting>
            <setting name="Dioda1B1HIGHHTHz" serializeAs="String">
                <value>0.000285591</value>
            </setting>
            <setting name="Dioda1C1HIGHHTHz" serializeAs="String">
                <value>-0.03141</value>
            </setting>
            <setting name="Dioda1D1HIGHHTHz" serializeAs="String">
                <value>385.23989</value>
            </setting>
            <setting name="Dioda2A1LOWcm" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Dioda2B1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2A1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2B1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2C1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda2D1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1LOWcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1LOWnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1LOWTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1MIDcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1MIDnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1MIDTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHHcm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHHnm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3A1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3B1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3C1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dioda3D1HIGHHTHz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChosenDiode" serializeAs="String">
                <value>1</value>
            </setting>
        </Laser.Properties.Settings>
    </userSettings>
</configuration>